<script type="text/javascript">
  
  function modal_eliminarproveedor(id,nombre) {
  $('p#id_proveedor').html(id);
  $('small#proveedor').html(nombre); 
}

function eliminarproveedor() {
  var id_usuario      = $('p#id_proveedor').text();
    $.ajax({
        url: '/c_eliminarusuario',
        type: "POST",
        data: {'id_usuario':id_usuario},
        beforeSend: show_loading(),
        dataType: "text",
        success: function(res){
            if (res == 'Registrodelete') {
              $.notify("Proveedor Eliminado Correctamente", "success");
              hide_loading(); 
              hide_modal_insert();  
              v_admin_proveedor();                                                                
            }
            if (res == 'Error') {
              $.notify("Hubo un error en el proceso", "error");
              hide_loading();   
            }             
        },
        error: function(e) {
           console.error(e);
           $.notify("Hubo un error en la petición del proceso", "error");
           hide_loading();
        }
    }); 
}

function modal_modificarproveedor(id,usuario,empresa,nit,telefono,direccion,descripcion,ciudad,activo) {   
      $.ajax({
          url: '/c_modal_actualizar_proveedor',
          type: "post",
          data: {'id':id,'usuario':usuario,'empresa':empresa,'nit':nit,'telefono':telefono,'direccion':direccion,'descripcion':descripcion,'ciudad':ciudad,'activo':activo},
          beforeSend: show_loading(),
          dataType: "text",
          success: function(res){
              $('div#contenidoformactualizarproveedor').html(res);
              hide_loading();                
          }
      });
    }

function actualizar_proveedor(id_usuario,usuario,empresa,nit,telefono,direccion,descripcion,ciuda,activo) {
  var id_usuario      = $('small#id_usuario').text(); 
  var usuario_        = $('input#usuario').val(); 
  var empresa_        = $('input#empresa').val(); 
  var nit_            = $('input#nit').val(); 
  var telefono_       = $('input#telefono').val(); 
  var direccion_      = $('input#direccion').val(); 
  var descripcion_    = $('textarea#descripcion').val(); 
  var ciudad_         = $('select#ciudad').val();
  var activo_         = $('select#estado').val();
 

  if (usuario_ == '') {
        var _usuario = usuario
      } else {
        var _usuario = usuario_
      }

  if (empresa_ == '') {
        var _empresa = empresa
      } else {
        var _empresa = empresa_
      }

  if (nit_ == '') {
        var _nit = nit
      } else {
        var _nit = nit_
      }
      
  if (telefono_ == '') {
        var _telefono = telefono
      } else {
        var _telefono = telefono_
      }
      
  if (direccion_ == '') {
        var _direccion = direccion
      } else {
        var _direccion = direccion_
      }

  if (descripcion_ == '') {
        var _descripcion = descripcion
      } else {
        var _descripcion = descripcion_
      }    

  if (ciudad_ == '-- Seleccione Ciudad --') {
        var _ciudad = ciuda
      } else {
        var _ciudad = ciudad_
      }  

  if (activo_ == 0) {
        var _activo = activo
      } else {
        var _activo = activo_
      }    

  
  alert(id_usuario);
  alert(_usuario);
  alert(_empresa);
  alert(_nit);
  alert(_telefono);
  alert(_direccion);  
  alert(_ciudad);
  alert(_activo);


    $.ajax({
        url: '/c_actualizar_usuario',
        type: "POST",
        data: {'id_usuario':id_usuario,'_nombre':_nombre,'_apellido':_apellido,'_cedula':_cedula,'_fecha_nac':_fecha_nac,'_descripcion':_descripcion,'_usuario':_usuario,'_ciudad':_ciudad,'_activo':_activo},
        beforeSend: show_loading(),
        dataType: "text",
        success: function(res){
            if (res == 'Registroupdate') {
              $.notify("Usuario Desactivado Correctamente", "success");
              hide_loading(); 
              hide_modal_insert();  
              v_admin_usuarios();                                                                
            }
            if (res == 'Error') {
              $.notify("Hubo un error en el proceso", "error");
              hide_loading();   
            }             
        },
        error: function(e) {
           console.error(e);
           $.notify("Hubo un error en la petición del proceso", "error");
           hide_loading();
        }
    }); 
}    

</script>

<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Administrar Proveedor <span class="fa fa-industry" style="color:#D31606;"></span></h1>
      </div>
    </div>
  </div>
</div>


<section class="content">
    <div class="container-fluid">
        <div class="row">
          <div class="col-12">
                <div class="tab-content">
                  <div class="tab-pane active" id="tab_1">
                    <div id="bloque" class="col-sm-12 col-md-12">
                      <div class="panel panel-default">

                        <table class="table table-striped table-bordered table-hover" id="dataTables-proveedores">
                              <thead>
                                <tr style="font-size: 10px;">
                                  <th>Op</th>
                                  <th>Usuario</th>
                                  <th>Empresa</th>
                                  <th>Nit</th>
                                  <th>Telefono</th>                                   
                                  <th>Dirección</th>                                  
                                  <th>Descripción</th>
                                  <th>Ciudad</th>
                                  <th>Estado</th>                                                          
                              </tr>
                              </thead>
                              <tbody> 
                                {% for row in data['data_proveedor'] %}
                                <tr style="font-size: 10px;">
                                  <td>
                                  <a style="color:orange;font-size:13px;" href="/{{row.0}}" class="fa fa-edit" title="Actualizar" data-toggle="modal" data-target="#modal_modificarproveedor" onclick="modal_modificarproveedor('{{row[0]}}','{{row[1]}}','{{row[2]}}','{{row[3]}}','{{row[4]}}','{{row[5]}}','{{row[6]}}','{{row[7]}}','{{row[8]}}','{{row[9]}}')"></a>
                                  
                                  <a style="color:red;font-size:13px;" href="/{{ row.0 }}" class="fa fa-times" title="Eliminar" data-toggle="modal" data-target="#modal_desactivarproveedor" onclick="modal_eliminarproveedor('{{row[0]}}','{{row[1]}}')"></a>	
                                  </td>
                                  <td>{{row[1]}}</td>
                                  <td>{{row[2]}}</td>
                                  <td>{{row[3]}}</td>
                                  <td>{{row[4]}}</td>
                                  <td>{{row[5]}}</td>
                                  <td>{{row[6]}}</td>
                                  <td>{{row[7]}}</td>
                                  <td>{{row[8]}}
                                    {% if row[8] == "activo" %}
                                      <span class="fa fa-toggle-on" style="color:green;font-size:13px;"></span>
                                    {% endif %}  
                                    {% if row[8] == "inactivo" %}
                                      <span class="fa fa-toggle-off" style="color:red;font-size:13px;"></span>
                                    {% endif %} 
                                  </td>
                                </tr>
                                {% endfor %}  
                              </tbody>
                        </table>              
                      </div>      
                    </div>
                  </div>
                </div>
          </div>
          <!-- /.col -->
        </div>
    </div>
</section> 

<!-- modal Eliminar -->
<div class="modal" tabindex="-1" role="dialog" id="modal_desactivarproveedor">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Eliminar Proveedor</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>      
      <form class="form-horizontal">
      <div class="box-body">
        <div class="col-lg-12 col-md-12">
          <div class="form-group"> 
            <h3>Desea Eliminar completamente este Proveedor?</h3>      
            <p style="color:red">Si desea tambien lo puede desactivar, esto permitirá restringir el acceso a la plataforma.</p>         
            <p style="display:none;" id="id_proveedor"></p>
              <h5>Usuario: <small id="proveedor"></small></h5>
          </div>
        </div>
      </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" onclick="eliminarproveedor()">Aceptar</button>
      <button type="button" class="btn btn-warning" data-dismiss="modal">Cerrar</button>
    </div>

    </form>

    </div>
  </div>
</div>

<!-- modal Actualizar -->
<div class="modal" tabindex="-1" role="dialog" id="modal_modificarproveedor">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modificar Proveedor</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
       <div id="contenidoformactualizarproveedor"></div>
    </div>
  </div>
</div>

<script>
    $(document).ready(function() {
        $('#dataTables-proveedores').DataTable({
        responsive: true
        });
    });

</script>