
<table class="table table-striped table-bordered table-hover" id="dataTables-portafolio">
  <thead>
    <tr style="font-size: 10px;">
      <th>Ir al carrito</th>
      <th>Portafolio</th>                                                      
  </tr>
  </thead>
  <tbody> 
    {% for row in data['data_portafolio'] %}
    <tr style="font-size: 10px;">
      <td>
      <a style="color:blue;font-size:13px;" class="fa fa-cart-plus" title="Carrito" onclick="v_carrito_cliente('carrito','{{row[1]}}','{{row[0]}}')"></a>      
      </td>
      <td>{{row[2]}}</td>
    </tr>
    {% endfor %}  
  </tbody>
</table>
<br>  
<br>  
<table class="table table-striped table-bordered table-hover" id="dataTables-portafolios">
  <thead>
    <tr style="font-size: 10px;">
      <th>Portafolio</th>
      <th>Producto</th> 
      <th>Precio</th>
      <th>Descripción</th>                                                     
  </tr>
  </thead>
  <tbody> 
    {% for row in data['data_productos'] %}
    <tr style="font-size: 10px;">
      <td>{{row[2]}}</td>
      <td>{{row[3]}} - {{row[6]}}</td>
      <td>{{row[4]}}</td>
      <td>{{row[5]}}</td>
    </tr>
    {% endfor %}  
  </tbody>
</table>


<script>
    $(document).ready(function() {
        $('#dataTables-portafolios').DataTable({
        responsive: true
        });
    });
</script>
